@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');


body {
    font-family: "Roboto";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content {
    width: 1100px;
    margin: 0px auto;
    padding: 0 24px;
}

.header,
.hero,
.footer {
    background-color: #1F2937;
}

button {
    background-color: #3882F6;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 32px;
    border-radius: 8px;
}


/* header */

.header > .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.header .logo,
.hero .text,
.cta .text,
button {
    color: #F9FAF8;
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
}

.header a {
    text-decoration: none;
}

.subtext,
.header a {
    font-size: 18px;
    color: #E5E7EB;
}


/* hero */

.hero > .content {
    display: flex;
    align-items: center;
    gap: 48px;
    padding-top: 64px;
    padding-bottom: 64px;
}

.hero .text {
    font-size: 48px;
    font-weight: 900;
}

.hero .subtext {
    margin-bottom: 12px;
}

.hero button {
    border: none;
}

.hero img {
    border-radius: 24px;
    height: auto;
    width: 600px;
}


/* info */

.info > .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info .text {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 48px 0px;
}

.info .boxes {
    display: flex;
    justify-content: center;
    gap: 36px;
    margin-bottom: 64px;
}

.info img {
    height: 170px;
    width: 170px;
    border: 4px solid #3882F6;
    border-radius: 16px;
}

.info .subtext {
    width: 170px;
    text-align: center;
    color: #1F2937;
}


/* quote */

.quote {
    background-color: #E5E7EB;
}

.quote > .content {
    width: 760px;
    display: flex;
    flex-direction: column;
}

.quote .text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    margin-top: 100px;
}

.quote .name {
    font-weight: bold;
    font-size: 24px;
    align-self: flex-end;
    margin-bottom: 80px;
    margin-right: 48px;
}


/* cta */

.cta {
    /* height: 300px; */
}

.cta > .content {
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 0;
}

.cta .box {
    background-color: #3882F6;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    padding: 48px 120px;
    margin: 0px 40px;
}

.cta .text {
    font-size: 24px;
    font-weight: bold;
}

.cta button {
    border: 1px solid #F9FAF8;
}


/* footer */

.footer > .content {
    height: 100px;
    text-align: center;
    align-content: center;
}